.catalogo{
    display: flex;
    justify-content: space-around;
    height: 600px;
}

h1{
    border-left: solid 10px red;
    background-color: rgb(255, 255, 255);
}
main{
    background-color: black;
}

.img-exibe-catalogo{
    height: 470px;
    width: 350px;
    border-radius: 5px;
}

.img-exibe-catalogo:hover{
    height: 480px;
    opacity: 0.5;
    transition: 0.3s;
    width: 360px;
    
}

h2,p{
    color: white;
}

